<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welcome!</ion-card-subtitle>
      <ion-card-title>Login Here,</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" class="m-3">
        <ion-item>
          <ion-label position="stacked">Email </ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="mb-3">
          <ion-label position="stacked">Password </ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="userLogin(user)">Login</ion-button>
        <ion-button color="light" expand="block" (click)="goToRegisterPage()">Register</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
