<ion-content [fullscreen]="true">
  <div class="p-3 h-100 w-100 d-flex justify-content-center align-items-center">
    <form [formGroup]="loginForm" class="w-100 h-100 d-flex justify-content-center flex-column">
      <div class="mb-2 d-flex flex-column">
        <label for="email">Email</label>
        <input id="email" nbInput fieldSize="small" type="email" formControlName="email"/>
        <ng-container *ngIf="email.invalid && email.touched">
          <span class="caption-danger" *ngIf="email.errors?.required">field required</span>
        </ng-container>
      </div>
      <div class="mb-2 d-flex flex-column">
        <label for="password">Password</label>
        <input id="password" type="password" nbInput fieldSize="small" formControlName="password" />
        <ng-container *ngIf="email.invalid && email.touched">
          <span class="caption-danger" *ngIf="email.errors?.required">field required</span>
        </ng-container>
      </div>
      <button nbButton class="mb-2" status="primary" hero (click)="userLogin(user)">Login</button>
      <button nbButton outline status="success" (click)="goToRegisterPage()">Register</button>
    </form>
  </div>
</ion-content>
