<ion-header translucent>
  <ion-toolbar>
    <div class="d-flex flex-row align-items-center ml-2">
      <nb-icon style="font-size: 24px;" class="mr-2" icon="arrow-back-outline" (click)="dismissModal()"></nb-icon>
      <span style="font-size: 16px;">Profile</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [nbSpinner]="tutorLoading" nbSpinnerStatus="info">
  <div class="d-flex justify-content-center align-items-center pt-3 top-bg">
    <div class="pro-pic-container">
      <fa-icon style="font-size: 125px; color: #d1d7e6;" icon="user-circle"></fa-icon>
      <div class="camera-input">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
          <ion-buttons class="d-flex justify-content-center align-items-center">
            <ion-button shape="round" (click)="fileInput.click()"><fa-icon style="color: black;" icon="camera"></fa-icon></ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center pro-text-container w-100">
      <span style="font-size: 18px;color: white">{{ user['displayName'] }}</span>
    </div>
  </div>
  <div class="p-2">
    <form [formGroup]="profileForm" class="mb-1 mt-1">
      <div class="d-flex flex-column mb-2">
        <textarea
          nbInput
          rows="2"
          formControlName="about"
          type="text"
          placeholder="About"
          fullWidth
          fieldSize="medium"
          status="primary"
        ></textarea>
      </div>
      <div class="w-100 d-flex flex-row align-items-center">
        <div style="width: calc(100vw - 61px);" class="mr-1 disabled-gl">
          <input nbInput placeholder="Your Location" formControlName="location" fullWidth fieldSize="medium" status="primary" />
        </div>
        <button nbButton size="medium" status="primary" (click)="updateLocation()">
          <nb-icon pack="eva" icon="pin-outline"></nb-icon>
        </button>
      </div>
    </form>
    <button nbButton fullWidth ghost status="primary" (click)="updateData()">Update</button>
  </div>

  <!--input image file-->
  <div style="display: none;">
    <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
  </div>
</ion-content>
