<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="font-family: 'Paytone One', serif; font-size: 1.6rem;">FindTutor</ion-title>
        <ion-buttons slot="end">
          <ion-button shape="round" [nbContextMenu]="items" nbContextMenuTag="context-menu" (click)="menuPopUpControl()"
            ><div style="width: 16px; height: 32px;" class="d-flex justify-content-center align-items-center">
              <fa-icon style="font-size: 16px;" icon="ellipsis-v"></fa-icon></div
          ></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [nbSpinner]="tutorLoading" nbSpinnerStatus="info">
      <div class="w-100 d-flex justify-content-end mb-1">
        <button nbButton outline status="primary" size="small" class="ml-1" (click)="openFilterModal()">
          <fa-icon class="mr-1" icon="filter"></fa-icon>Filter By
        </button>
        <button nbButton outline status="primary" size="small" class="ml-1" (click)="getAllTutors()">
          <fa-icon icon="sync"></fa-icon>
        </button>
      </div>
      <div class="w-100">
        <nb-card accent="primary" *ngFor="let tutor of tutorList; let i = index" class="mb-2">
          <div class="p-2">
            <div class="w-100 d-flex flex-row align-items-center">
              <div style="min-width: 240px; max-width: 240px;" class="d-flex flex-row">
                <fa-icon style="font-size: 35px; color: #d1d7e6;" icon="user-circle"></fa-icon>
                <div class="ml-2 d-flex flex-column">
                  <span style="font-size: 13px;">{{ tutor['firstName'] + ' ' + tutor['lastName'] }}</span>
                  <span style="font-size: 11px; margin-top: -5px; color: #c0c8cf;">{{ tutor['geoCordAddress'] }}</span>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-end" style="min-width: calc(100vw - 300px);">
                <ion-buttons>
                  <ion-button (click)="goToTutorProfile(tutor)"><fa-icon style="color: #989eac;" icon="chevron-right"></fa-icon></ion-button>
                </ion-buttons>
              </div>
            </div>
          </div>
        </nb-card>
      </div>
    </ion-content>
  </div>
</ion-app>
