.top-bg {
  background: url('../../../assets/images/bg-cover.jpg') center;
  background-size: cover;
  height: 25%;
  width: 100%;
  position: relative;
}
.pro-tutor {
  position: absolute;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 3px 8px 12px -3px #d1d7e6;
  top: 60%;
  left: calc(50% - (95rem/32));
}
.pro-tutor-icon {
  font-size: 95px;
  color: #d1d7e6;
}
